body{
    background-color:#222222 !important;
    color:#eeeeee !important;
}
@media (min-width: 600px) {
    .container{
        max-width:600px !important;
    }
}

h1{
    text-align: center;
    padding:40px 0px;
}
h2{
    font-size:18px !important;
    margin:10px 0px 2px !important;
    padding:0px !important;
}
input{
    width:100%;
}
button{
    width:100%;
    cursor:pointer;
}
#inputBox{
    margin-bottom:10px;
}
#result{
    margin-top:10px;
    padding:16px 20px 10px 20px;
    background-color:#333333;
    text-align:center;
    border-radius: 20px;
    
}
#result p{
    font-size:20px !important;
    margin-bottom:5px;
}